version: "3.8"

services:
  kafka:
    build:
      context: .
      dockerfile: Dockerfile.kafka
    container_name: kafka-server
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
    networks:
      - flight-network

networks:
  flight-network:
    driver: bridge
