services:
  kafka:
    build:
      context: .
      dockerfile: Dockerfile.kafka
    container_name: kafka-server
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
    networks:
      - flight-network

  mongo:
    build:
      context: .
      dockerfile: Dockerfile.mongo
    image: mongo-custom:7.0
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo_data:/data/db
      - ./resources:/resources
    networks:
      - flight-network

networks:
  flight-network:
    driver: bridge

volumes:
  mongo_data:
